/bin/
/build/
/buildtest/
/dist/
/docs/
/nbproject/
/patches/
/*.properties
!build.properties
*~
*.lock
*.swp
*.DS_Store
*.diff
*.dot
*.dot.png
*.class
.project.el
.attach_pid*
hs_err_pid*.log
*.sh
.idea/
*.iml
out/
/log4j2/
/log4j1217/